body {
	font-family: sans-serif;
	text-align: center;
	background-color: #171629;
	color: white;
	max-width: 800px;
	margin: 1em auto;
}


h1 {
	color: #279CFF;
	font-size: 4em;
	padding: 0 1em;

}

h2 {
	color: white;
}

h3 {
	color: #279CFF;
	font-size: 2em;
	line-height: 0.2;
}

.more-info {
	padding-top: 1em;
}

p {
	color: #a9a7c7;
}

section {
	padding: .1em 0;
}

footer {
	padding: 5em;
}

.search {
	color: black;
	background-color: white;
	border-radius: 10px;
	padding: 1em;
	margin: 2em 2em;
}

.search p {
	color: black;
}

.search p {
	padding: 0;
}

a {
	color: inherit;
}

input, button {
	font-size: 2em;
	padding: .3em;
	border-radius: 7px;
	display: inline;
}

input {
	max-width: 20em;
	border: 1px solid #171629;
	font-size: 1.5em;
	padding: .7em;
}

button {
	background-color: #279CFF;
	border-style: none;
	color: white;
	text-transform: uppercase;
	padding: .9em;
	font-weight: bold;
	font-size: 1.5em;
}